body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.logo{
  display: block;
  margin-top:200px;
  margin-bottom:20px;
  margin-left: auto;
  margin-right: auto;
}
.bar{
  margin:0 auto;
  width:600px;
  border-radius:35px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  margin-left: 25px;
  
}

.recipe-searchbar {
  width: 275px;
  height: 27px;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  font-size: 23px;
}

.nav-logo{
  height: 80px;

}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#home-search{
  height: 40px;
  width: 100px;
}

.home-search-btn{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 10px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 70px;
  will-change: transform,opacity;
  z-index: 0;
}

.home-search-btn:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.home-search-btn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.home-search-btn:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.home-search-btn:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.home-search-btn:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.home-search-btn:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.home-search-btn:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.home-search-btn:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.lucky-btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.lucky-btn:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.lucky-btn:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.home-nav-btn {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.home-nav-btn:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.home-nav-btn:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.home-nav-btn:after {
  background-color: #FFFFFF;
}

.home-nav-btn span {
  z-index: 1;
  position: relative;
}

.login-name {
  display: flex;
  align-items: flex-start;
}

.categoryfilter{
margin-right: 10px;
height: 30px;
width: 150px;

}

.search-filter {
  margin-bottom: 20px;
}

.allergyfilter{
margin-right: 100px;
height: 30px;
width: 150px;
}

.recipe{
  display: flexbox;
  width: 400px;
  height: 400px;
  float:left;
  gap:1rem;
  padding:1rem;
  border-style: ridge;
  border-radius: 10%;
  margin-left: 2rem;
}
.recipe > img{
  height:350px;
  padding-left: 1.7rem;
  margin-top: 1px;
}
.recipe > figcaption{
  text-align: center;
  font-size: 25px;
  font-family: Helvetica;
}

#recipe-page{
  height:100vw;
  width:100vw; 
  display: flexbox;
  flex-direction: column;
  
}

.single-recipe>img{
  width: 475px;
  margin-left: 1rem;
}

#instructions {
  border: solid 3px black;
}

#ingredients {
  border: solid 3px black;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  font-size: 20pt;
  font-family: Clarkson,Helvetica,sans-serif;
  
  ;
}

.display-needs {
  margin-top: 20px;
  border: solid black;
}
/* ---------------------------------------------------------------- */
.form-container {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
  font-size: 30px;
  margin-top: 150px;
}

.form-container .input-form {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.form-container .input-form input {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  align-items: center;
  gap: 20px;
}


/* .login-btns:hover [type="button"] {
  background: linear-gradient(45deg, rgb(101, 19, 42), rgb(38, 255, 30));
} */

/* -------------------------------------------------------- */