body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.logo{
  display: block;
  margin-top:200px;
  margin-bottom:20px;
  margin-left: auto;
  margin-right: auto;
}
.bar{
  margin:0 auto;
  width:600px;
  border-radius:35px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}

/* -------------------------------------------------------- */
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:25px;
  outline: none;
  margin-left: 25px;
  
}

.recipe-searchbar {
  width: 275px;
  height: 27px;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  font-size: 23px;
}

.nav-logo{
  height: 80px;

}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#home-search{
  height: 40px;
  width: 100px;
}

.home-search-btn{
  align-items: center;
  appearance: none;
  background-color: #84f0a8;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 70px;
  will-change: transform,opacity;
  z-index: 0;
}

.home-search-btn:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.home-search-btn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.home-search-btn:focus {
  outline: none;
  border: 2px solid #ffffff;
}

.home-search-btn:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.home-search-btn:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.home-search-btn:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.home-search-btn:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(255, 255, 255, 0.15) 0 8px 12px 6px;
}

.home-search-btn:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.lucky-btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.lucky-btn:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.lucky-btn:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.home-nav-btn {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #d2595d;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;

}

.home-nav-btn:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #4ac94e;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.home-nav-btn:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.home-nav-btn:after {
  background-color: #FFFFFF;
}

.home-nav-btn span {
  z-index: 1;
  position: relative;
}

.login-name {
  display: flex;
  align-items: flex-start;
}

.categoryfilter{
  width: 200px;
  height: 27px;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;

}

.search-filter {
  margin-bottom: 20px;
}

.allergyfilter{
margin-right: 100px;
height: 30px;
width: 150px;
}

.recipe{
  display: flexbox;
  width: 20rem;
  height: 23rem;
  float:left;
  gap:1rem;
  padding:1rem;
  border-style: ridge;
  border-radius: 10%;
  margin-left: 2rem;
  box-shadow: 1px 1px 8px 1px black;
  align-content: center;
}
.recipe > img{
  height:15rem;
  width: 18rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10%;
}
.recipe > figcaption{
  text-align: center;
  font-size: 1rem;
  font-family:'Chakra Petch', sans-serif;
}
.favorites-header {
  text-align: center;
  font-family:'Chakra Petch', sans-serif;
  margin-bottom: 3rem;
}

.fav-delete-btn{
  margin-left: 3.7rem;
  margin-top: 0px;
}

.fav-delete-btn {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fav-delete-btn:hover,
.fav-delete-btn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.fav-delete-btn:active {
  background: var(--color);
  color: #fff;
}

.recipe-header {
  height: 3rem;
}

.recipe-header h1 {
  margin-left: 3rem;
  font-family:'Chakra Petch', sans-serif;
  color: rgb(0, 0, 0);
}

#recipe-page{
  height:100vw;
  width:100vw; 
  display: flexbox;
  flex-direction: column;
  
}

#recipe-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 18rem;
}
/* .single-recipe {
  background-color: #4ac94e;
} */
#entire-recipe-container {
  /* background-image: url("../public/3429102.jpg") */
  background-color: rgb(217, 217, 217);
}

.single-recipe > img{
margin-left: 2rem;
margin-top: 1rem; 
margin-bottom: 0rem;
height: 30rem;
width: 30rem;
border-radius: 10%;
box-shadow: 1px 1px 1px 1px black;
}


#instructions {
  border: dashed 3px black;
  margin-top: 4rem;
  padding: 1%;
  background-color: #4ac94e;
}

#instructions > h1 {
  border-bottom: .5rem solid black;
}

#ingredients {
  border: dashed 3px black;
    background-color: white;
    font-size: 20px;
    margin-left: 55rem;
    margin-top: -25rem;
    padding: 15px;
    border-style: groove;
    align-items: flex-start;
    box-shadow: 1px 1px 1px 1px #dcdcdc;
    height: 20rem;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  font-size: 20pt;
  font-family: Clarkson,Helvetica,sans-serif;
  
  ;
}

/* ---------------------------------------------------------------- */
.form-container {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
  font-size: 30px;
  margin-top: 150px;
}

.form-container .input-form {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.form-container .input-form input {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  align-items: center;
  gap: 20px;
}


/* .login-btns:hover [type="button"] {
  background: linear-gradient(45deg, rgb(101, 19, 42), rgb(38, 255, 30));
} */

/* -----------------------Nutrition--------------------------------- */
.nutrition-header > h1{
font-family:'Chakra Petch', sans-serif;
display: flex;
justify-content: center;
}
.nutrition-header > p{
font-family:'Chakra Petch', sans-serif;
display: flex;
justify-content: center;
}

.nutrition-bar {
  display:flex;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;

}

.nutrition-container {
  border: solid 1px rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-content: center;
  height: 800px;
  font-size: 10pt;
}

body {
  font-size: medium;
  line-height: 1.4;
}
p {
  margin: 0;
}

.performance-facts {
  border: 2px solid black;
  margin: 20px;
  float: left;
  width: 490px;
  padding: 0.5rem;
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;

}
.small-info {
  font-size: 1.65rem;
}

.text-center {
  text-align: center;
}
.thick-row > h2{
  margin-left: 2rem;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}

/* -----------------Nutrition Needs---------------------------- */
.needs-header {
text-align: center;

}

.check-daily {
  text-align: center;
  font-family:'Chakra Petch', sans-serif;
}

.display-needs {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  padding: 6%;
  border-top: dashed 4px ;
  font-family:'Chakra Petch', sans-serif;
  /* border: solid 1px black; */
}
.calculate-form {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  height: 3rem;
  /* border: solid#000; */
  padding: 4%;
  font-family:'Chakra Petch', sans-serif;
}

.input-box {
  flex-grow: 1;
  color: blueviolet;
  font-size: 1.3rem;
  line-height: 2.4rem;
  width: 13rem;
}